.showcase-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 35px;

    padding-top: 5%;

    height: 70vh;
}