@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.portfolio {
  font-family: "Inter", sans-serif;
}

.portfolio {
  display: grid;

  margin: auto;

  width: 80vw;
}

.grid {
  display: grid;
  align-items: center;
}

.header2 {
  font-size: 40px;
}

.tag-line {
  color: #828282;
  font-size: 24px;
}

.intro-grid {
  height: 100vh;
  
  .intro-block {
      display: flex;
      
      .info {
          font-size: 24px;
      
          padding-right: 10%;

          .intro-heading {
              font-size: 64px;
              color: #575151;
            }
        }

      .portrait > img {
        border-radius: 85%;
        }
    }
}

.showcase-grid {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 35px;

  padding-top: 5%;

  height: 70vh;
}

