@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.portfolio {
  font-family: "Inter", sans-serif;

  margin: auto;

  width: 80vw;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 28px;
}

.grid {
  display: grid;
  align-items: center;
}

.tag-line {
  color: #828282;
  font-size: 24px;
}

.intro-grid {
  height: 100vh;
  
  .intro-block {
      display: flex;
      
      .info {
          font-size: 24px;
      
          padding-right: 10%;

          .intro-heading {
              font-size: 64px;
              color: #575151;
            }
        }

      .portrait > img {
        border-radius: 85%;
        }
    }
}